body { font-family: sans-serif; background: #f6f7f8; }

#content {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 500px;
}

#tasks-header {
  border-bottom: 2px dashed #ddd;
  padding: 30px 20px;
  text-align: center;
}

#tasks-footer {
  border-top: 2px dashed #ddd;
  margin-top: 60px;
  padding: 20px;
}

#tasks-app > form {
  padding: 20px 10px;
  text-align: center;
}

#tasks-app > ul { margin: 0; padding: 0; list-style: none; }

#tasks-app > ul li {
  cursor: move;
  padding: 15px 20px;
}

#tasks-app > ul li:nth-child(2n+1) {
  background-color: #F4F7FA;
  color: #555;
}

#create-task-text {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 13px;
  height: 22px;
  margin-right: 5px;
  padding: 8px;
  width: 300px;
}

#create-task {
  background-color: #dbdad9;
  background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.5) 51%);
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  color: #666;
  font-size: 12px;
  font-weight: 800;
  height: 40px;
  width: 145px;
}

#create-task:active {
  background-image: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 50%, rgba(255,255,255, 0) 51%);
}

#mark-all-complete {
  color: #448CCB;
  float: right;
  text-decoration: none;
}

.task.completed {
  color: #bbb;
  text-decoration: line-through;
}

.task .toggle {
  float: left;
  margin-right: 10px;
}

.remaining {
  color: #bdbdbd;
  display: inline-block;
}
