{% extends "layout.html" %}
{% block body %}
  <div id="tasks-header"><h1>Todos</h1></div>
  <div id="tasks-app">
    <form>
      <input type="text" id="create-task-text" placeholder="What needs to be done?" autofocus></input>
      <input type="button" id="create-task" value="Add Todo"></input>
    </form>
    <ul id="task-list"></ul>
    <div id="tasks-footer"></div>
  </div>

  <script type="text/template" id="task-template">
    <div class="task <%= completed ? 'completed' : '' %>">
      <label>
        <%= text %>
        <input class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>></input>
      </label>
    </div>
  </script>

  <script type="text/template" id="footer-template">
    <div class="remaining"><%= remaining %> <%= remaining == 1 ? "item" : "items" %> left</div>
  </script>
{% endblock %}
