{% extends "layout.html" %}
{% block body %}
  <div id="tasks-header"><h1>Todos</h1></div>
  <div id="tasks-app">
    <form>
      <input type="text" id="create-task-text" placeholder="What needs to be done?" autofocus></input>
      <input type="button" id="create-task" value="Add Todo"></input>
    </form>
    <ul id="task-list"></ul>
    <div id="tasks-footer"></div>
  </div>

  <script type="text/template" id="task-template">
    <div class="task <%= completed ? 'completed' : '' %>">
      <input id="cb_<%= this.cid %>" class="toggle" type="checkbox" <%= completed ? 'checked' : '' %>></input>
      <label for="cb_<%= this.cid %>"><span></span><%= text %></label>
      <span class="drag-icon"></span>
    </div>
  </script>

  <script type="text/template" id="footer-template">
    <div class="remaining"><%= remaining %> <%= remaining == 1 ? "item" : "items" %> left</div>
    <% if (remaining > 0) { %>
      <a id="mark-all-complete" href="#">Mark all as complete</a>
    <% } %>
  </script>
{% endblock %}
