<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div id="page">
      <div id="content">{% block body %}{% endblock %}</div>
      <div id="javascripts">
        <script src="{{ url_for('static', filename='jquery-2.1.0.min.js') }}"></script>
        <script src="{{ url_for('static', filename='sortable.min.js') }}"></script>
        <script src="{{ url_for('static', filename='underscore-min.js') }}"></script>
        <script src="{{ url_for('static', filename='backbone-min.js') }}"></script>
        <script src="{{ url_for('static', filename='app.js') }}"></script>
      </div>
    </div>
  </body>
</html>
